@import 'base.css';

header{
    padding: 1rem 4rem;
}
header a{
    text-decoration: none;
    color: initial;
}

main{
    padding: 4rem;
}

main .form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

main .field-label{
    margin-bottom: 5px;
    font-weight: bold;
}

main .field{
    padding: 0.8rem 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline: none;
}

.form-error{
    border: 2px solid rgba(255, 0, 0,0.7) !important;
}

main .field:focus main ,.field:hover{
    border: 2px solid #1e90ff;
}
main .disabled{
    border: 1px solid #ced4da !important;
}

.error-list{
    padding-left: 15px;
    margin: 4px 1px;
}
.error-list li{
    color: red;
}
form button{
    color: #fff;
    padding: 14px 43px;
    background: coral;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
}



@media screen and (max-width:600px) {
    header{
        padding: 1rem;
    }
    main{
        padding: 2.5rem 1rem;
    }
    form button{
        display: block;
        width: 100%;
        padding: 13px ;
    }
}