<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href=""> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/order.css')}}">
    <title>Purchase</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
    <header>
            <a style="font-family: 'Yellowtail', cursive;" href="{{url_for('payment.home')}}"><h2>SimonPriestly</h2></a>
    </header>
    <main>
        <form  method="POST">
            {{form.hidden_tag()}}

            <div class="form-field">
                {{form.username.label(class="field-label")}}
                {% if form.username.errors %}
                    {{form.username(class="field form-error", placeholder="username")}}
                    <ul class="error-list">
                        {% for error in form.username.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{form.username(class="field", placeholder="usernames")}}
                {% endif %}
            </div>
            
            <div class="form-field">
                {{form.password.label(class="field-label")}}
                {% if form.password.errors %}
                    {{form.password(class="field form-error", placeholder="password")}}
                    <ul class="error-list">
                        {% for error in form.password.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{form.password(class="field", placeholder="password")}}
                {% endif %}
            </div>
            <button type="submit">
                Purchase
            </button>
        </form>
    </main>
    </div>
</body>
</html>